{% extends "core/base.html" %}
{% block title %}History — HealthBite{% endblock %}

{% block content %}
<h1>Meal History</h1>

{% if meal_items %}
    <table border="1">
        <tr>
            <th>Date/Time</th>
            <th>Meal Type</th>
            <th>Food</th>
            <th>Quantity</th>
            <th>Calories</th>
        </tr>

        {% for item in meal_items %}
        <tr>
            <td>{{ item.meal.meal_time }}</td>
            <td>{{ item.meal.meal_type }}</td>
            <td>{{ item.food.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.calculated_calories }}</td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No meal records yet.</p>
{% endif %}

{% endblock %}